<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
		<add name="DefaultDatabaseConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\Users\\HP\\Desktop\\finance_db.mdb;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MetaDataExchangeBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="FinanceServices.Components.DatabaseService" behaviorConfiguration="MetaDataExchangeBehavior">
				<endpoint address="" binding="netTcpBinding" contract="FinanceServices.Interfaces.IDatabaseService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<!--http://localhost:8733/Design_Time_Addresses/FinanceServices/DatabaseService/-->
						<add baseAddress="http://localhost:8301/Design_Time_Addresses/FinanceServices/DatabaseService/" />
						<add baseAddress="net.tcp://localhost:8302" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>